@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel

@{
	var apiDescList = ViewBag.ApiDescriptions;
}

<html>
<head>
	<title>File Reader API Test Page</title>
</head>
<body>
	<p>Select from the list below to trigger the corresponding API</p>
	<table>
		<tr>
			<th>API Request</th>
		</tr>
		
		@foreach (var api in apiDescList)
		{
	<tr>


		<td><button class="route-button" data-method="GET" data-path="@api.RelativePath" >@api.RelativePath</button></td>

	</tr>
		}
	</table>
	<br /><br />

	<br /><br />
	<p>Response:</p>
	<pre id="response"></pre>

	<script>
		const routeButtons = document.querySelectorAll('.route-button');
		const responseDiv = document.getElementById('response');

		function sendRequest(method, path) {
			responseDiv.innerText = '';
			const apiUrl = window.location.origin + '/' + path;
			const xhr = new XMLHttpRequest();
			xhr.onload = function () {
				if (xhr.status >= 200 && xhr.status < 300) {
					responseDiv.innerText = xhr.responseText + ' -- ' + xhr.response;
				} else {
					responseDiv.innerText = 'Error: ' + xhr.statusText + ' -- ' + xhr.response;
				}
			};
			xhr.open(method, apiUrl);
			xhr.send();
		}

		routeButtons.forEach(function (button) {
			button.addEventListener('click', function () {
				const method = button.getAttribute('data-method');
				const path = button.getAttribute('data-path');
				sendRequest(method, path);
			});
		});
	</script>
	<section class="content-wrapper main-content clear-fix">





	</section>
</body>
</html>
